<br>
<section class = "recent-books" fxLayout="column" fxLayoutAlign="center center" style="width:100%;">
    <mat-card fxLayout="coloumn" style="width:70%">
        <div fxLayout="row" style="margin:0px">
            <div class="book-img">
                <img mat-card-image [src]="" alt="img" style=" width: 100%;
                box-shadow: 1px 1px 5px rgba(0,0,0,0.5); margin: 10px">
            </div>
            <div fxLayout="column" style="margin: 15px;">
                <mat-card-title>Title</mat-card-title>
                <mat-card-subtitle>-Author</mat-card-subtitle>
                <mat-card-subtitle>Price</mat-card-subtitle>
                <mat-card-subtitle>Category</mat-card-subtitle>
                <mat-card-content>description</mat-card-content>
            </div> 
        </div>
    </mat-card>
</section>
