<br>
<section class = "recent-books" fxLayout="column" fxLayoutAlign="center center" style="width:100%;">
    <mat-card fxLayout="coloumn" style="width:70%" *ngFor = "let cart of cart">
        <div fxLayout="row" style="margin:0px">
            <div class="book-img">
                <img mat-card-image [src]="cart.imagePath" alt="img" style=" width: 100%; height: 200px;
                box-shadow: 1px 1px 5px rgba(0,0,0,0.5); margin: 10px">
            </div>
            <div fxLayout="column" style="margin: 20px;">
                <mat-card-title>{{ cart.name }}</mat-card-title>
                <mat-card-subtitle>{{ cart.author }}-Author</mat-card-subtitle>
                <mat-card-subtitle>Price- {{ cart.price }}</mat-card-subtitle>
                <br><br><br>
                <div>
                    <button mat-raised-button color="warn" (click)= "onDelete(cart.bookId)">Delete</button>
                </div>
            </div> 
        </div>
    </mat-card>
</section>
